<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dkzycxs88/image/upload/v1677250749/437f21d_1666952691817-080-hl-vbelloni-1245225_timg1z.jpg);">
  <div class="container">
<h1>Mes listes de films</h1>

  </div>
</div>


<div class="container">
  <div class="card col-xs-12 col-lg-3  justify-content-right m-4">
  <%= link_to 'Create a Movie List', new_list_path, class:"btn btn-success" %>
  </div>
  <div class="cards m-3">
  <% @lists.each do |list| %>

<% if list.photo.key? %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path list.photo.key, crop: :fill %>)">
      <%= link_to list.name, list_path(list), class:"text-white" %>
      <div class="delete m-2"> <%= link_to ' |x|', list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"text-decoration-none text-danger" %></div>

    </div>
<% end %>
  <% end %></div>


</div>
