<div class="container p-4 col-6">

<h2>Nouvelle liste</h2>
<%= simple_form_for(@list) do |f| %>
  <%= f.input :name, placeholder: 'Le nom de votre liste de films' %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, class:"btn btn-success" %>
<% end %>
</div>
