<div class="container p-4 col-6">
<h2>Edit Bookmark</h2>


<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment, placeholder: 'Entrez un commentaire sur le film' %>
  <%= f.button :submit, class:"btn btn-success" %>
<% end %>

</div>
